<section>
	<div id="myCarousel" class="carousel container carousel-fade slide">
	  <div class="carousel-inner">
	    <div class="active item one"></div>
	    <div class="item two"></div>
	    <div class="item three"></div>
	  </div>
	</div>
</section>