  <div class="hero-container">
  	<h1 style='color: #FF4E59; font-weight:150; letter-spacing: 1px;'>Sign Up</h1>
  	<br>
  	{{> flashMessage}}
		<form class='sign-up' method='POST' action='/signup' id='signup-form'>
			<div class="form-group">
				<input type="text" name='username' class='form-control' placeholder='Username'  autofocus>
			</div>
			<div class="form-group">
				<input type="password" name='password' class='form-control' placeholder='Password' >
			</div>
			<div class="form-group">
				<input type="submit" class='form-control btn btn-sm btn-primary' value='Sign Up' style=' background-color: #FF4E59; border-color: #FF4E59; color: white; font-weight:150; letter-spacing: 1px;'>
			</div>
		</form>
  </div>
<section>
	<div id="myCarousel" class="carousel container carousel-fade slide">
	  <div class="carousel-inner">
	    <div class="item one"></div>
	    <div class="active item two"></div>
	    <div class="item three"></div>
	    <div class="item four"></div>
	    <div class="item five"></div>
	    <div class="item six"></div>
	    <div class="item seven"></div>
	  </div>
	</div>
</section>