  <div class="hero-container">
    <h1 class='something'>Bored?</h1>
    <h2 class='something2'>Search for events near you!</h2>
    <h3 class='something3'>Try now for <a href="#scroll-here" class='btn btn-success'style="background-color:#FF4E59; color:white; border-color: #FF4E59; ">FREE!</a></h3>
  </div>
<section>
	<div id="myCarousel" class="carousel container carousel-fade slide">
	  <div class="carousel-inner">
	    <div class="active item one"></div>
	    <div class="item two"></div>
	    <div class="item three"></div>
	    <div class="item four"></div>
	    <div class="item five"></div>
	    <div class="item six"></div>
	    <div class="item seven"></div>
	  </div>
	</div>
</section>
