<footer class='footer text-center' >
  <div class='row'>
    <div class='col-md-12'>
      <h5>Events from</h5>
      <h6><a href='http://api.eventful.com/'>Eventful API</a></h6>
      <h5>Created By Alan Lee <h5>
      </p>
    </div>
  </div>
</footer>