<header>
<nav class="navbar navbar-inverse transparent navbar-custom navbar-fixed-top">
  <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span>Toggle navigation</span>
              <span></span> 
              <span></span>
              <span></span>
          </button>
          <a class="navbar-brand" href="http://localhost:3000/">Project1</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
              <li>
                  <a href="http://localhost:3000/">Home</a>
              </li>
              {{#if user}}
              <li>
                  <a href="http://localhost:3000/profile">Profile</a>
              </li>
              <li>
                  <a href="http://localhost:3000/logout">Logout</a>
              </li>
              {{else}}
              <li>
                  <a href="http://localhost:3000/signup">Sign Up</a>
              </li>              
              <li>
                  <a href="http://localhost:3000/login">Login</a>
              </li>
              {{/if}}
          </ul>
      </div>
      <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<div id="myCarousel" class="carousel container carousel-fade slide">
<div class="carousel-inner">
        <div class="active item one"></div>
        <div class="item two"></div>
        <div class="item three"></div>
</div>
</div>
</header>