<!DOCTYPE html>
<html lang='en'>
<head>
{{> headCDN}}
	<title>App NAME</title>
</head>
<body>
	{{> navPartial}}
	<!-- will have the search here -->

	<div class="container">
		<div class="row">
			<div class="col-md-6">
				
			</div>
		</div>
	</div>

{{> endCDN}}
</body>
</html>