<!DOCTYPE html>
<html lang='en'>
<head>
{{> headCDN}}
{{> mapbox}}
  <title>App NAME</title>
</head>
<body>
  {{> navPartial}}
  {{> carousel}}
  <!-- will have the search here -->

<section> 
  <div class="row center-form">
    <div class="col-md-12">
      <form class='form-pad submit-search'>
        <div class='form-group' style='float: left; width: 25%;'>
          <select class='form-control category_input' style='font-weight:100; letter-spacing: 3px'>
            <option value="Music">Music</option>
            <option value="Nightlife">Nightlife</option>
            <option value="Food">Food</option>
            <option value="Sports">Sports</option>
            <option value="Health">Health</option>
            <option value="Fundraisers">Fundraisers</option>
          </select>
          <!-- <input type="text" class='form-control category_input' name='category_search' placeholder='Search Event'> -->
        </div>
        <div class='form-group' style='float: left; width: 25%;'>
          <select class='form-control date_selection' style='font-weight:100; letter-spacing: 3px'>
            <option value="Music">All dates</option>
            <option value="Nightlife">This week</option>
            <option value="Food">This month</option>
          </select>
        </div>
        <div class='form-group' style='float: left;width: 25%; '>
          <input type="text" class='form-control location_input' name='location_search' placeholder='Enter City' style='font-weight:100; letter-spacing: 3px' >
        </div>
        <div class='form-group' style='float: left; width: 15%;'>
          <input type="submit" class='form-control' value='Search' style="background-color:lightsalmon; color:white; font-weight:100; letter-spacing: 3px">
        </div>
      </form>
    </div>
  </div>
</section>


  <div class="container ">
    <div id="events-list">
      <div class="row row-eq-height">
      <script type='text/x-handlebars-template' id='event-template'>
      \{{#each events}}
        <div class="col-md-3">
          <div class="thumbnail">
            <img src="/photos/defaultImg.jpg" alt='default-img' class='img-responsive'>
            <hr>
            <h3>\{{title}}</h3>
            <p>\{{dateFormat start_time}}</p>
            <p>\{{venue_name}}</p>
            <p> taking description out for now </p>
            <hr>
            <p><a href="#" class="btn btn-sm btn-primary">More Info</a>
            <a href="#" class="btn btn-sm btn-success fav-event">Favorite</a></p>
          </div>
        </div>
      \{{/each}}
      </script>
      </div>
    </div>
  </div>

<section>
  <div id='map'></div> 
</section>
{{> endCDN}}
</body>
</html>