<!DOCTYPE html>
<html lang="en">
<head>
{{> headCDN}}
	<title>Login</title>
</head>
<body>
	{{> navPartial}}

	<div class='container'>
		<div class="row">
			<div class="col-md-12">
				<h1 class='text-center head-h1'>Login</h1>
			</div>
		</div>
		<div class='row'>
			<div class='col-md-12'>
				<form class='sign-up' method='POST' action='/login'>
					<div class="form-group">
						<input type="text" name='username' class='form-control' placeholder='Username' autofocus>
					</div>
					<div class="form-group">
						<input type="password" name='password' class='form-control' placeholder='Password'>
					</div>
					<div class="form-group">
						<input type="submit" class='form-control btn btn-sm btn-primary' value='Login'>
					</div>
				</form>
			</div>
		</div>
	</div>
{{> endCDN}}
</body>
</html>