<!DOCTYPE html>
<html lang="en">
<head>
{{> headCDN}}
	<title>Profile</title>
</head>
<body>
	{{> navPartial}}
	<h1 class='head-h1'>hello this is the profile page</h1>

	{{user.username}}

{{> endCDN}}
</body>
</html>