<!DOCTYPE html>
<html lang='en'>
<head>
{{> headCDN}}
	<title>Login</title>
</head>
<body>
	{{> navPartial}}

	<div class='container'>
		<div class="row">
			<div class="col-md-12">
				<h1 class='text-center signup-h1'>Sign Up</h1>
			</div>
		</div>
		<div class='row'>
			<div class='col-md-12'>
				<form class='sign-up' method='POST' action='/signup'>
					<div class="form-group">
						<input type="email" name='email' class='form-control' placeholder='Email' autofocus>
					</div>
					<div class="form-group">
						<input type="password" name='password' class='form-control' placeholder='Password'>
					</div>
					<div class="form-group">
						<input type="submit" class='form-control btn btn-sm btn-primary' value='Sign Up'>
					</div>
				</form>
			</div>
		</div>
	</div>


{{> endCDN}}
</body>
</html>