.sign-up {
	width: 25%;
	margin: 0 auto;
}
.head-h1 {
	margin-top: 55px;
}

.hero-container {
  position: absolute;
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/** slide show for the header **/
.carousel { 
	z-index: -99;
	width: 100% !important;
	padding: 0 !important;
 } /* keeps this behind all content */
.carousel .item {
    
    width: 100%; height: 100%;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;

}
.carousel .one {
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,0.5)), url(./photos/music1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;

    -moz-background-size: cover;
}
.carousel .two {
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,0.5)),url(./photos/food.jpg);
  	background-position: center;
    background-size: cover;
    height: 100vh;
    -moz-background-size: cover;
}
.carousel .three {
		background-position: center;
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,0.5)), url(./photos/comedy.jpg);
    background-size: cover;
    height: 100vh;
    -moz-background-size: cover;
}
.carousel .four {
		background-position: center;
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,0.5)), url(./photos/music2.jpg);
    background-size: cover;
    height: 100vh;
    -moz-background-size: cover;
}
.carousel .five {
		background-position: center;
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,0.5)), url(./photos/food2.jpg);
    background-size: cover;
    height: 100vh;
    -moz-background-size: cover;
}
.carousel .six {
		background-position: center;
    background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,0.2)), url(./photos/sports.jpg);
    background-size: cover;
    height: 100vh;
    -moz-background-size: cover;
}
.carousel .seven {
		background-position: center;
    background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,0.2)), url(./photos/music3.jpg);
    background-size: cover;
    height: 100vh;
    -moz-background-size: cover;
}
.carousel .active.left {
    left:0;
    opacity:0;
    z-index:2;
}
/** fade **/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
Added transforms to improve carousel performance in modern browsers."
now override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}

/*map*/
div#map {  
	width:50%; 
	height: 300px;
  float:right;
}
.floatthis {
  float:left;
}
.form-pad {
	padding: 35px;
	margin-left:105px;
}
body {
	padding-top: 0 !important;
	background-color: #dddddd!important;
}
.nav-up {
    top: -40px;
}
.something {
	margin-bottom: 20px;
	padding-top: 0;
	color: #FF4E59;
	z-index: 200;
	font-size: 55px;
}
.something2 {
  margin-top: 5px;
	margin-bottom: 20px;
	padding-top: 0;
	color: white;
	z-index: 200;
  font-weight: 150;
	font-size: 30px;
}
.something3 {
  padding-top: 0;
  color: white;
  z-index: 200;
  font-size: 30px;
}
/*transparent navbar*/
.navbar {
   background-color: transparent !important;
   background: transparent !important;
   border-color: transparent !important;
}
.hideNav {
  opacity: 0 !important;
}

.nav.navbar-nav.navbar-right a,
.navbar-brand{
	color: #FF4E59 !important;
}
.submit-search {
	margin-top: 0;
	padding-top: 20px;
	padding-bottom: 90px;
}
.fav-event {
	letter-spacing: 1px;
	font-weight: 100;
  color: black;
}


.thumbnail {
	min-height: 500px;
	max-height: 500px;
  overflow: scroll;
}
..hero-container {
  position: absolute;
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.stickyMap {
  position: fixed !important;
  top: 0 !important;
  left: 50% !important;
}
/*validation errors*/
label.error {
  color: #FF4E59;
  font-weight: 250;
  letter-spacing: 1px;
  padding-top: 5px;
}
#error-msg {
  width: 25%;
  margin: 0 auto 5px auto;
  padding: 5px;
}
img.profile-pic {
  min-width: 50%;
  min-height: 200px;
}

/*animations*/
.something,
.something2,
.something3 {
  opacity: 0;
}

.something.animated,
.something2.animated,
.something3.animated {
  opacity: 1;
}
footer {
  margin-top: 25px;
  color: #FF4E59;
  background-color: #333;
}
#scroll-here {
  color: #FF4E59;
}