
.sign-up {
	width: 50%;
	margin: 0 auto;
}
.head-h1 {
	margin-top: 55px;
}

/** slide show for the header **/
.carousel { 
	z-index: -99;
	width: 100% !important;
	padding: 0 !important;
 } /* keeps this behind all content */
.carousel .item {
    
    width: 100%; height: 100%;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;

}
.carousel .one {
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,0.5)), url(./photos/music1.jpg);
    background-position: center;
    background-size: cover;
    height: 70vh;

    -moz-background-size: cover;
}
.carousel .two {
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,0.5)),url(./photos/food.jpg);
  	background-position: center;
    background-size: cover;
    height: 70vh;
    -moz-background-size: cover;
}
.carousel .three {
		background-position: center;
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,0.5)), url(./photos/comedy.jpg);
    background-size: cover;
    height: 70vh;
    -moz-background-size: cover;
}
.carousel .four {
		background-position: center;
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,0.5)), url(./photos/music2.jpg);
    background-size: cover;
    height: 70vh;
    -moz-background-size: cover;
}
.carousel .five {
		background-position: center;
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,0.5)), url(./photos/food2.jpg);
    background-size: cover;
    height: 70vh;
    -moz-background-size: cover;
}
.carousel .six {
		background-position: center;
    background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,0.2)), url(./photos/sports.jpg);
    background-size: cover;
    height: 70vh;
    -moz-background-size: cover;
}
.carousel .seven {
		background-position: center;
    background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,0.2)), url(./photos/music3.jpg);
    background-size: cover;
    height: 70vh;
    -moz-background-size: cover;
}
.carousel .active.left {
    left:0;
    opacity:0;
    z-index:2;
}
/** fade **/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
Added transforms to improve carousel performance in modern browsers."
now override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}

/*map*/
#map {  
	top:0; 
	bottom:0; 
	width:40%; 
	margin-left: 55%;
	margin-right: auto;
	height: 300px;
	/*display: none;*/
}

.form-pad {
	padding: 35px;
	margin-left:105px;
}
body {
	padding-top: 0 !important;
	background-color: #dddddd!important;
}
.nav-up {
    top: -40px;
}
.something {
	margin: 0;
	padding-top: 0;
	position: absolute;
	color: #FF4E59;
	z-index: 200;
	top: 120px;
	left: 550px;
	font-size: 40px;
}
.something2 {
	margin: 0;
	padding-top: 0;
	position: absolute;
	color: white;
	z-index: 200;
	top: 230px;
	left: 450px;
	font-size: 30px;
}
/*transparent navbar*/
.navbar {
   background-color: transparent !important;
   background: transparent !important;
   border-color: transparent !important;
}

.nav.navbar-nav.navbar-right a,
.navbar-brand{
	color: #FF4E59 !important;
}
.submit-search {
	margin-top: 0;
	padding-top: 20px;
	padding-bottom: 90px;
}
.fav-event {
	background-color: #FF4E59;
	border-color: #FF4E59;
	letter-spacing: 1px;
	font-weight: 100;
  color: white;
}

.row-eq-height {
  display: flex; 
	flex-wrap: wrap;
}

.thumbnail {
	min-height: 500px;
	max-height: 500px;
  overflow: scroll;
}
.carohead {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	align-content: center;
	height 70vh;
}